@model AddAccountViewModel
<h1>新增帳戶</h1>
<div class="container">
    <div class="row row-cols-auto">
        <div class="col">
            <p>帳戶Email</p>
        </div>
        <div class="col">
            <input asp-for="Email" />
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>帳戶暱稱</p>
        </div>
        <div class="col">
            <input asp-for="NickName" />
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>電話號碼</p>
        </div>
        <div class="col">
            <input asp-for="PhoneNumber" />
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>帳戶密碼</p>
        </div>
        <div class="col">
            <input asp-for="Password" />
        </div>
    </div>
</div>




<button id="addBtn" onclick="addAccount()">新增帳戶</button>

@section SpecificScripts {
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
    <script>
        //$(function(){ // dom載入後執行
        //    $("#addBtn").click(function() {console.log('ccc')})
        //})

        function addAccount() 
        {
            $.post("@Url.Action("AddAccountAddBtn", "Account")", { Email: $('#Email').val(), NickName: $('#NickName').val(), PhoneNumber: $('#PhoneNumber').val(), Password: $('#Password').val()}, function( data ) 
            {
                console.log(data);
                alert("帳戶創建成功");
                window.location.href = '/Account';
            });
        }
    </script>
}
