@model AddAccountViewModel
@{
}
<h1>登入</h1>
<div class="container">
    <div class="row row-cols-auto">
        <div class="col">
            <p>Email</p>
        </div>
        <div class="col">
            <input asp-for="Email" />
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>密碼 &nbsp;</p>
        </div>
        <div class="col">
            <input asp-for="Password" />
        </div>
    </div>
</div>

<button id="loginBtn" onclick="login()">登入</button>
<a asp-area="" asp-controller="Account" asp-action="AddAccount">新增帳戶</a>
<button id="RegisterBtn" onclick="">新增帳戶</button>
@section SpecificScripts {
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
    <script>
        function login() 
        {
            $.post("@Url.Action("Login", "Account")", { Email: $('#Email').val(), Password: $('#Password').val()}, function( data ) 
            {
                console.log(data);
                if (data == true) {
                    alert("登入成功");
                }
                else {
                    alert("登入失敗，使用者或密碼錯誤");
                }
            });
        }
    </script>
}
