@model ItemViewModel 

<h1>上架商品</h1>
<div class="container">
    <div class="row row-cols-auto">
        <div class="col">
            <p>新增商品</p>
        </div>
        <div class="col">
            <input asp-for = "Name">    
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>商品選項</p>
        </div>
        <div class="col">
            <select ID="SelectItemOption" runat="server">
                <option  Value="-1">請選擇商品選項</option>
                <option Value="ebook">電子書</option>
                <option Value="book">實體書</option>
                <option Value="CD">CD</option>
                <option Value="MP3">MP3</option>
            </select>
            <!--input asp-for="Type"-->
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>商品價格</p>
        </div>
        <div class="col">
            <input asp-for="Price" >
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>商品說明</p>
        </div>
        <div class="col">
            <input asp-for="Description">
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <p>商品圖片網址</p>
        </div>
        <div class="col">
            <input asp-for="ImgSrc">
        </div>
    </div>
</div>

<button id="addBtn" onclick="addItem()">新增商品</button>

@section SpecificScripts {
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
    <script>
        //$(function(){ // dom載入後執行
        //    $("#addBtn").click(function() {console.log('ccc')})
        //})

        function addItem() 
        {
            $.post("@Url.Action("AddItemBtn", "Item")", { Name: $('#Name').val(), Type: $('#SelectItemOption :selected').text(), Price: $('#Price').val(), Description: $('#Description').val(), ImgSrc: $('#ImgSrc').val()}, function( data ) 
            {
                console.log(data);
                alert("新增商品成功");
                window.location.href('/..');
            });
        }
    </script>
}